node {
    /*size: 3px;*/
    fill-color: #777;
    z-index: 2;
    text-size: 12px;
}

node.highlight {
    z-index: 2;
    size: 30px;
    text-background-mode: rounded-box;
    text-background-color: #FFC300;
    fill-color: #FFC300;
    text-color: #581845;
    text-style: bold;
    text-size: 20px;
}

node.lowlight {
    fill-color: #20639B;
    size: 20px;
}

edge.lowlight {
    fill-color: #20639B;
    size: 5px;
    text-style: bold;
    text-size: 20px;
    text-color: red;
}